<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104590535697-qlqv1si8krj17nvto6mrfgujhm81inti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104590535697-qlqv1si8krj17nvto6mrfgujhm81inti</string>
	<key>API_KEY</key>
	<string>AIzaSyDfpAxPxcYK5BfP_9z2aT2-avOI3qZ5Py0</string>
	<key>GCM_SENDER_ID</key>
	<string>104590535697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysteriumvpn</string>
	<key>PROJECT_ID</key>
	<string>new-mysterium-vpn</string>
	<key>STORAGE_BUCKET</key>
	<string>new-mysterium-vpn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104590535697:ios:30362bcd1ee53392f355b0</string>
</dict>
</plist>
