<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139303438361-h8a0q4erpab3aov2dunb8bsne6bf52r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139303438361-h8a0q4erpab3aov2dunb8bsne6bf52r3</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Z7KPJJDOEFgIeGue8IFZdBkmq_6cv4U</string>
	<key>GCM_SENDER_ID</key>
	<string>139303438361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysterium.vpn.dev</string>
	<key>PROJECT_ID</key>
	<string>mysterium-vpn-test</string>
	<key>STORAGE_BUCKET</key>
	<string>mysterium-vpn-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139303438361:ios:cc0a667a11731afab7c288</string>
</dict>
</plist>